.App {
  min-height: 100vh;
  background-color: #f5f5f5;
  text-align: center;
  font-family: nitty-grotesk, Verdana, sans-serif;
  color: #141414;
}

a {
  color: forestgreen;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition:    color 0.5s;
  -ms-transition:     color 0.5s;
  -o-transition:      color 0.5s;
  transition:         color 0.5s;
}
a:hover {
  color: #f1b8a8;
}

.head {
  background-color: #f5f5f5
}

h2, h3 {
  margin-left: 5px;
}

.projects-col-right {
  padding-left: 0.5cm;
  padding-right: 20%;
}
.projects-col-left {
  margin-top: 100px;
  padding-right: 0.5cm;
  padding-left: 20%;
}

.page-title-outer {
  margin-right: auto;
  width: min-content;
}
.page-title-inner {
  text-align: right;
}

.carousel-wrapper {
  display: grid;
  margin-top: 100px;
  margin-bottom: 200px;
}

.v-carousel {
  transform: rotate(90deg);
}
.v-carousel, .h-carousel {
  margin-left: auto;
  margin-right: auto;
  grid-row: 1;
  grid-column: 1;
  width: 800px;
}

.v-title {
  max-width: 150px;
  left: 3cm;
  top: 2cm;
  position: relative;
  text-align: left;
}
.h-title {
  max-width: 150px;
  left: 5cm;
  position: relative;
  text-align: right;
}

.v-caption {
  transform: rotate(-90deg);
}
.v-text {
  left: 2cm;
  top: 2cm;
  position: relative;
  text-align: left;
}
.h-caption {
  text-align: right;
  left: 7cm;
}
.v-caption, .h-caption {
  max-width: 10cm;
  position: absolute;
  z-index: 100;
}
.v-caption, .h-caption {
  text-shadow: 1px 1px 5px #f5f5f5, 
               1px 1px 1px #f5f5f5, 
               1px 1px 2px #f5f5f5, 
               0px 0px 2px #f5f5f5,
               0px 0px 3px #f5f5f5,
               0px 0px 4px #f5f5f5,
               0px 0px 5px #f5f5f5,
               0px 0px 6px #f5f5f5,
               0px 0px 7px #f5f5f5;
}

.v-image {
  transform: rotate(-90deg);
}

.project-group {
  height: 15cm;
}

.image-container {
  height: 350px;
  background-color: white;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.projects-image {
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  height: 100%;
  align-self: center;  
}
.image-container:hover {
  overflow: visible;
}
.projects-image:hover {
  max-width: 600px;
  max-height: 350px;
  height: auto;
  z-index: 100;
  align-self: flex-start;  
}
.section-title {
  text-align: left;
}

.image-description {
  text-align: left;
  margin-bottom: 150px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

