.App {
  min-height: 100vh;
  background-color: #282c34;
  text-align: center;
}

.carousel-wrapper {
  display: grid;
}

.v-carousel {
  transform: rotate(90deg);
}
.v-carousel, .h-carousel {
  margin-top: 100px;
  grid-column: 1;
  grid-row: 1;
}

.v-caption {
  transform: rotate(-90deg);
}
.v-caption, .h-caption {
  position: absolute;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

